
.main{
    background-color: #F5F5F5;
    height: auto;
    padding: 50px 0;
    font-family: "Rubik";
    height: 100vh;
    max-height: 100vh;
}

.title{
    font-size: 40px;
    font-weight: 700;
    color: #3C424D;
    text-align: center;
}

.subTitle{
    font-size: 25px;
    font-weight: 700;
    color: #A7A7A7;
    text-align: center;
    margin-top: -10px;
}


.cityInput{
    width: 600px;
    height: 70px;
    border-radius: 20px;
    background: #F5F5F5;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    font-size: 30px;
    font-weight: 700;
    padding-left: 20px;
    font-family: "Rubik";
}

.submitButton{
    margin-top: 15px;
    width: 600px;
    height: 60px;
    border-radius: 20px;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    font-size: 30px;
    font-weight: 700;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-family: "Rubik";
}

.inputSection{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: center;
    padding-top: 20px;
}





/* result */

.resultSection{
    padding: 100px 140px;
    background-color: #F5F5F5;
}

.currentTopSection{
    display: flex;
    flex-direction: row;
    gap: 130px;
    padding: 10px 80px;
    justify-content: center;
}

.currentWeatherDetails{
    display: flex;
    flex-direction: column;
}

.currentTopSectionMain{
    display: flex;
    flex-direction: column;
}

.resultTitle{
    font-size: 18px;
    font-weight: 700;
    color: #A7A7A7;
}

.cityNameSection{
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    margin-top: -50px;
}

.cityName{
    font-size: 30px;
    font-weight: 700;
    gap: 10px
}

.currentTitle{
    font-size: 25px;
    line-height: 25px;
}

.currentWeatherDescription{
    font-size: 30px;
    font-weight: 400;
    text-align: center;
}

.currentWeatherTemp{
    font-size: 35px;
    font-weight: 300;
    text-align: center;
}

.currentWeatherSpeed{
    font-size: 25px;
    font-weight: 300;
    text-align: center;
}

.forecastWeatherDescription{
    font-size: 20px;
    font-weight: 300;
    text-align: center;
}

.forecastWeatherTemp{
    font-size: 30px;
    font-weight: 300;    
    text-align: center;

}

.forecastWeatherSpeed{
    font-size: 20px;
    font-weight: 300;
    text-align: center;
}

.forecastWeatherDate{
    width: 150px;
    text-align: center;
    font-size: 15px;
    font-family: 400;
    line-height: 25px;
    padding-top: 20px;
}

.forecastWeatherSections{
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    gap: 20px;
    justify-content: center;
}

.forecastWeatherSection{
    width: 200px;
    height: 350px;
    border-radius: 20px;
    border-color: black;
    border-width: 1px;
    padding: 20px;
    border-style: solid;
}

.forecastWeatherTitle{
    font-size: 25px;
    font-weight: 700;
}

.forecastWeatherImage{
    display: flex;
    margin: auto;
    margin-bottom: 10px;

}



.pink{
    width: 200px;
    height: 200px;
    position: absolute;
    background-color: #F4D0D0;
    top: 100px;
    right: 180px;
    filter: blur(70px);
}

.green{
    width: 200px;
    height: 200px;
    position: absolute;
    background-color: #C2F7C7;
    top: 200px;
    left: 150px;
    filter: blur(70px);
}


@media only screen and (max-width: 768px) {
    .currentTopSection{
        gap: 100px;
    }

    .forecastWeatherSections{
        padding-left: 30px;
        padding-right: 30px;
        display: grid;
        grid-template-columns: auto auto auto;
    }

    .forecastWeatherSection{
        width: 180px;
        align-self: center;
    }

    .green{
        width: 150px;
        height: 150px;
    }

    .pink{
        width: 150px;
        height: 150px;
        position: absolute;
        top: 100px;
        right: 80px;
    }

    .forecastWeatherTitle{
       margin-left: -80px;
    }

    .resultTitle{
        margin-left: -80px;
    }

    .cityNameSection{
        margin-left: -80px;
    }
}

@media only screen and (max-width: 414px) {
    .title{
        font-size: 30px;
    }
    .subTitle{
        font-size: 20px;
    }

    .cityInput{
        width: 350px
    }

    .submitButton{
        width: 350px;
        font-size: 25px;
    }

    .arrow{
        width: 30px
    }

    .currentTitle{
       margin-right: 200px;
    }

    .currentTopSection{
        display: flex;
        flex-direction: column;
        gap: 10px;
        align-items: center;
    }

    .forecastWeatherSections{
        display: grid;
        grid-template-columns: auto;
    }

}
